backend/.vs/backend/v16/.suo
backend/bin/Debug/netcoreapp3.1/backend.dll
backend/bin/Debug/netcoreapp3.1/backend.pdb
backend/obj/Debug/netcoreapp3.1/backend.dll
backend/obj/Debug/netcoreapp3.1/backend.pdb
backend/.vs/backend/v16/.suo
backend/bin/Debug/netcoreapp3.1/backend.dll
backend/bin/Debug/netcoreapp3.1/backend.pdb
backend/obj/Debug/netcoreapp3.1/backend.dll
backend/obj/Debug/netcoreapp3.1/backend.pdb
